body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
.grid {
    text-align: center;
    justify-content: center;  
    border: solid 5px yellow;
    border-radius: 5px;
    
} 
#logo{
    display: flex;
    justify-content: center;
} 
.a26{
    width: 70%;
}
button{
    background-color: yellow;
    border: 0;
    width: 30%;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 20px;
}