body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
#logo{
    display: flex;
    padding-left: 100%;
}
.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.preguntas{
    border-radius: 30px;
    border: 5px yellow solid;
    padding: 20px;
}
.pre1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#a1{
    display: flex;
    justify-content: center;
}
#a2{
    text-align: center;
}
#todo1{
    border: yellow 5px solid;
    border-radius: 30px;
    width: 10%;
    text-align: center;
    padding: 20px;
}
.boton1{
    background-color: yellow;
    border: 0;
    margin: 20px;
    border-radius: 30px;
    width: 120px;
    height: 40px;
}
