body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#pantalla{
    background-color: black;
    color: white;
    border: 2px gray solid; 
    height: 55px;
    width: 90%;
    border-radius: 30px;
}
.color{
    background-color: rgb(233, 233, 97);
}
#color1{
    background-color: rgb(221, 114, 114);
}
.grid >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#img2{
    border-radius: 10px;
    border: black 2px solid ;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: 80px 40px 40px repeat(5, 45px);
    text-align: center;
    justify-content: center;
    width: 300px;

}  
button{
    border: black 2px solid ;
    border-radius: 20%;
    background-color: gray;
    height: 80%;
    width: 60%;
}
form{
    border: black solid 2px; 
    border-radius: 30px;
    background-color: steelblue;
    height: 400px;
   
}
#a0{
    grid-row: 1;
    grid-column:1;
    grid-column-start: 1;
    grid-column-end: 5;
}
#a1{
    grid-row: 3;
    grid-column: 4;
}
#a2{
    grid-row: 4;
    grid-column: 1;
}
#a3{
    grid-row: 4;
    grid-column: 2;
}
#a4{
    grid-row: 4;
    grid-column: 3;
}
#a5{
    grid-row: 4;
    grid-column: 4;
}
#a6{
    grid-row: 5;
    grid-column: 1;
}
#a7{
    grid-row: 5;
    grid-column: 2;
}
#a8{
    grid-row: 5;
    grid-column: 3;
}
#a9{
    grid-row: 5;
    grid-column: 4;
}
#a10{
    grid-row: 6;
    grid-column: 1;
}
#a11{
    grid-row: 6;
    grid-column: 2;
}
#a12{
    grid-row: 6;
    grid-column: 3;
}
#a13{
    grid-row: 6;
    grid-column: 4;
}
#a16{
    grid-row: 7;
    grid-column: 3;
}
#a17{
    grid-row: 7;
    grid-column: 4;
}
#a14{
    grid-row: 7;
    grid-column: 1;
}
#a15{
    grid-row: 7;
    grid-column: 2;
}
#img{
    grid-row:3;
    grid-column:1;
    grid-column-start: 1;
    grid-column-end: 4;
}
#img1{
    grid-row:2;
    grid-column:1;
    grid-column-start: 1;
    grid-column-end: 4;
}

